<% layout("/layouts/boilerplate") %>
  <br><br>
  <div class="row">
    <div class="col-8 offset-2">

      <body>
        <h3>Create a New Listing</h3>
        <br>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" required />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">
              Please provide a short Description!
            </div>
          </div>
          <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image][url]" type="text" placeholder="enter image URL/link" class="form-control" />
          </div> -->
          <div class="mb-3">
            <label for="image" class="form-label">Upload image</label>
            <input name="listing[image][url]" type="file" class="form-control" />
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" placeholder="1100" class="form-control" required />
              <div class="invalid-feedback">
                Price should be valid!
              </div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" type="text" placeholder="India" class="form-control" required />
              <div class="invalid-feedback">
                Please provide a valid Country name!
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" placeholder="Howrah, WestBengal" class="form-control"
              required />
            <div class="invalid-feedback">
              Please provide a valid location!
            </div>
          </div>

          <br /><br />
          <button class="btn btn-danger">Add</button>

        </form>
      </body>
    </div>
  </div>
  <br><br>