<% layout("/layouts/boilerplate") %>
  <br><br>

  <body>
    <div class="row">
      <div class="alert alert-danger d-flex align-items-center col-6 offset-3" role="alert">
        <div>
          <p>
            <%= message %>
          </p>
        </div>
      </div>
    </div>
  </body>