/* body {
  background-color: rgb(246, 221, 224);
} */


/* Navbar */

.navbar {
  height: 5rem;
}

.fa-hotel {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #000000 !important;
}

/* Footer */

.f-info {
  height: 8rem;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  justify-content: center;
  text-align: center;
}

.f-info-links .f-info-socials {
  width: 100%;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}