body {
    font-family: "Outfit", sans-serif !important;
}


/* Navbar */

.navbar {
  height: 5rem;
}

.fa-hotel {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #000000 !important;
}

/* Footer */

.f-info {
  height: 8rem;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  justify-content: center;
  text-align: center;
}

.f-info-links .f-info-socials {
  width: 100%;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* Cards */

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Overlay Effects */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}